/******************************************************************************
* Application: Vegan Chocolate Vending Machine
* Developer:   Edgar Francis Felix
* Date:        4/17/2019
* Description: -This application is the system behind the Vegan Chocolate
*               Vending Machine.
*              -Accepts coins of the following denominations:
*                  10c, 20c, 50c, $1, $2.
*              -Dispenses the following menu items:
*                  Organic Raw ($2.00)
*                  Caramel ($2.50)
*                  Hazelnut ($3.10)
*              -Dispenses unused change at the end of the transaction.
*              -Has an "cancel" command that exits the transaction.
*******************************************************************************/

body {
  background-color: #331a00;
  font-family: 'Quicksand', sans-serif;
}

li {
  list-style-type: none;
  margin-top: 10px;
}

/* Formating common to all wrapper */
.wrapper {
  border-width: 1px 1px 1px 1px;
  padding: 10px 10px 10px 10px;
  font-size: 1em;
  width: 650px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Wrapper with border */
.wrapper-format {
  background-color: #734d26;
  border-radius: 10px;
  font-size: 1em;
  color: #ffffff;
}

.dispInLine {
  display: inline-block;
  margin: 0px 10px 0px 10px;
}

.dispBlock {
  display: block;
  margin: 0px 10px 0px 10px;
}

/* Format for display screen wrapper */
.displayScreen {
  margin-top: 20px;
  height: auto;
  background-color: #00b386;
  color: #ffffff;
  font-size: 1.2em;
}

/* Format for heading wrapper */
.heading {
  margin-bottom: 20px;
}

.title {
font-family: 'Merienda One', cursive;
font-size: 3em;
color: white;
margin: auto;
width: 650px;
text-align: center;
}

.subtitle {
  font-size: 1.8em;
  color: #00ffbf;
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: #331a00;
  border-radius: 10px;
}

.language {
  font-size: 1.5em;
  color: #cccccc;
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: #331a00;
  border-radius: 10px;
}

.coin-meter {
  width: 150px;
  font-size: 1.5em;
  margin: 10px 0px 5px 50px;
  color: #ffffff
}

.img-left-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.img-right-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: #009999;
  padding: 5px 5px 5px 5px;
  color: #ffffff;
  max-width: 250px;
  min-width: 60px;
  margin: auto;
  font-size: .85em;
  text-align: center;
  -webkit-transition-duration: 0.28s; /* Safari */
  transition-duration: 0.28s;
}

.button:hover {
  background-color: #ffff99;
  color: #1a1a1a;
}

.button:disabled {
  background-color: #b3b3b3;
  color: #808080;
  font-size: .8em;
}

#coinSlot {
  height: 28px;
  /* background-color: #47d1d1; */
  /* color: #ffffff; */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  padding: 0px 10px 0px 10px;
  margin-right: -5px;
}

#dropCoin {
height: 28px;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
padding: 0px 5px 0px 5px;
}
